body {
  background: #0c162d;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}


.main-header {
  margin: 40px auto 30px;
  width: 85%;
}

.header-icon {
  font-size: 2.8rem;
  vertical-align: middle;
}

.header-title {
  margin-left: 15px;
  display: inline-block;
  font-size: 1.8rem;
}

.divider {
  margin-top: 10px;
  border: 0.5px solid white;
}


.layout-wrapper {
  width: 85%;
  margin: auto;
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: space-between;
}

/* ===== Form Section ===== */
.form-section {
  background: white;
  border-radius: 12px;
  color: #000;
  width: 38%;
  padding: 35px 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.field-row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.input-box {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-box input,
.input-box textarea {
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  resize: vertical;
}


.checkbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.policy-check {
  width: 16px;
  height: 16px;
}

.policy-link {
  text-decoration: underline;
  cursor: pointer;
  color: #444;
}


.submit-btn {
  background: linear-gradient(to right, #0c1b37, #1a2f60);
  border: none;
  padding: 10px 0;
  color: #fff;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}


.info-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 55%;
  align-items: flex-start;
  justify-content: space-between;
}

.info-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 45%;
}

.info-item i {
  font-size: 1.9rem;
  margin-bottom: 5px;
}

.desc-text {
  color: gray;
  font-size: 14px;
}
